body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Header */
.header-container {
  border-bottom: 1px solid #e7e9fc;
  padding: 0 15px;
  padding: 24px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.webstudio-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.studio-text {
  color: #2e2f42;
}

.navigation-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

address {
  display: flex;
  align-items: center;
  margin: 0;
}

.contacts-container {
  font-style: normal;
  display: flex;
  gap: 40px;
  list-style: none;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* Main */

.title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.block-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Section 1 */
.section.make-order {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  padding: 188px 0;
  text-align: center;
  box-sizing: border-box;
  max-width: 1440px;
}

.make-order .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapped-title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  line-height: 1.07;
  max-width: 496px;
  margin-bottom: 48px;
}

.order_button {
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order_button:hover,
.order_button:focus {
  background-color: #404bbf;
}

/* Section 2 */
.section .advantages {
  padding: 120px 0;
  text-align: center;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  max-width: 264px;
}

.icon-container {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.icon {
  fill: #2e2f42;
  display: block;
}

/* Section 3 */
.section.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
  text-align: center;
  box-sizing: border-box;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  text-align: center;
  margin: 0;
  list-style: none;
  gap: 24px;
}

.name-position {
  padding: 32px 0;
}

.full-name {
  text-align: center;
  margin-bottom: 8px;
}

.position {
  text-align: center;
  margin-bottom: 8px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
  width: calc((100% - 72px) / 4);
}
.team-item:hover {
  transform: translateY(0%);
}

.social-icon-list {
  gap: 24px;
  display: flex;
  justify-content: center;
}

.social-icon-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

/* Section 4 */
.section .portfolio {
  padding: 120px 0;
  text-align: center;
  box-sizing: border-box;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-alternative-image {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.descriptions {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-alternative-image {
  transform: translateY(0%);
}

/* Footer */
footer {
  background-color: #2e2f42;
  padding: 100px 0px;
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-container {
  margin-right: 120px;
}

.webstudio-logo {
  margin-bottom: 16px;
}

.title-social-icons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-container-foot .social-icon-list {
  gap: 16px;
}

.social-container-foot .social-link:hover,
.social-container-foot .social-link:focus {
  background-color: #31d0aa;
}

.footer-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-studio-text {
  color: #f4f4fd;
}

.subscribe-container {
  margin-left: 80px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
  align-items: center;
}

.subscribe-input {
  padding: 8px 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms ease;
  min-width: 165px;
  height: 40px;
  line-height: 1.5;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* Overlay */

.modal-overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  background-color: #404bbf;
  border: none;
}
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover,
.close-icon:focus {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-container {
  margin-bottom: 8px;
}

.label-wrapper {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.container-input-icon {
  position: relative;
}

.input-wrapper {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-container {
  margin-bottom: 16px;
}

.text-input {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-input:focus {
  border-color: #4d5ae5;
}

.checkbox {
  margin-bottom: 24px;
}

.form-agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.class-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.agreement-link {
  color: #4d5ae5;
}
.checkbox-input:checked {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
