body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  padding: 0 16px;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Header */
.header-container {
  border-bottom: 1px solid #e7e9fc;
  padding: 16px 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.webstudio-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 115;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio-text {
  color: #2e2f42;
}

.navigation-container {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

address {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.contacts-container {
  font-style: normal;
  display: flex;
  gap: 40px;
  list-style: none;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 3.6px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-left: auto;
}

.menu-icon {
  fill: #2e2f42;
}

/* Mobile menu */
.mobile-menu {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  padding: 72px 0 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  min-height: 640px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 40px 16px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu .close-button {
  width: 24px;
  height: 24px;
  background-color: #fff;
}

.mobile-menu-nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 160px;
}

.mobile-menu-nav .nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu .contacts-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
  list-style: none;
}

.mobile-menu .contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu .social-icon-list {
  gap: 40px;
}
.mobile-menu .social-icon-item {
  width: 40px;
  height: 40px;
}

/* Main */

.title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.block-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Section 1 */
.section.make-order {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    image-set(
      url("../images/people-office-mobile-1x.png") 1x,
      url("../images/people-office-mobile-2x.png") 2x
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  text-align: center;
  box-sizing: border-box;
}

.make-order .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.wrapped-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  line-height: 1.11111;
  max-width: 216px;
  margin-bottom: 72px;
}

.order_button {
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order_button:hover,
.order_button:focus {
  background-color: #404bbf;
}

/* Section 2 */
.section .advantages {
  text-align: center;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.advantages-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 288px;
}

.advantages-item .block-title {
  margin-bottom: 8px;
}

.advantages-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.advantages-item .block-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

.advantages-item .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon-container {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

/* Section 3 */
.section.our-team {
  background-color: #f4f4fd;
  padding: 72px 0;
  text-align: center;
  box-sizing: border-box;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  padding: 0 18px;
}

.name-position {
  padding: 32px 0;
}

.full-name {
  text-align: center;
  margin-bottom: 8px;
}

.position {
  text-align: center;
  margin-bottom: 8px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: transform 250ms ease;
}

.social-icon-list {
  gap: 24px;
  display: flex;
  justify-content: center;
}

.social-icon-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

/* Section 4 */
.section .portfolio {
  padding: 72px 16px;
  text-align: center;
  box-sizing: border-box;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}
.portfolio-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
  width: 100%;
  max-width: 304px;
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item .block-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.portfolio-alternative-image {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.descriptions {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-alternative-image {
  transform: translateY(0%);
}

/* Footer */
footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  text-align: center;
  padding: 0 16px;
}

.webstudio-logo-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 115;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.title-social-icons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-container-foot {
  min-width: 208px;
}

.social-container-foot .social-icon-list {
  gap: 16px;
}

.social-container-foot .social-link:hover,
.social-container-foot .social-link:focus {
  background-color: #31d0aa;
}

.footer-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.footer-studio-text {
  color: #f4f4fd;
}

.subscribe-container {
  min-width: 208px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.subscribe-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  max-width: 100%;
  min-width: 264px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}

.subscribe-input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms ease;
  min-width: 165px;
  height: 40px;
  line-height: 1.5;
  gap: 16px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  fill: #ffffff;
}

/* Overlay */

.modal-overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  background-color: #404bbf;
  border: none;
}
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-container {
  margin-bottom: 8px;
}

.label-wrapper {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.container-input-icon {
  position: relative;
}

.input-wrapper {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus {
  border-color: #4d5ae5;
}

.input-wrapper:focus + .input-icon {
  fill: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-container {
  margin-bottom: 16px;
}

.text-input {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-input:focus {
  border-color: #4d5ae5;
}

.checkbox {
  margin-bottom: 24px;
}

.form-agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.class-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.agreement-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.checkbox-input:checked ~ .form-agreement .class-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.send-button {
  display: block;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
}

@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }

  /*Header*/
  .menu-toggle {
    display: none;
  }

  .webstudio-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
  }

  .navigation-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
    clip-path: none;
  }

  .nav-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .nav-link.current {
    color: #404bbf;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  address {
    display: flex;
    align-items: center;
    margin: 0;
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    overflow: visible;
    clip: auto;
    white-space: normal;
    clip-path: none;
  }

  .contacts-container {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
  /*Section 1*/
  .section.make-order {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        url("../images/people-office-tablet-1x.png") 1x,
        url("../images/people-office-tablet-2x.png") 2x
      );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 112px 0;
    text-align: center;
    box-sizing: border-box;
  }
  .wrapped-title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
  /*section 2*/
  .advantages-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 72px;
    column-gap: 24px;

    margin-left: auto;
    margin-right: auto;
  }

  .advantages-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    max-width: 356px;
    width: 100%;
  }

  /* section 3*/
  .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
    padding: 0 108px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /*section 4 */
  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    max-width: calc((100% - 24px) / 2);
    margin: 0;
  }

  /* footer */
  footer {
    padding: 96px 0;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    text-align: left;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    padding: 0;
  }

  .subscribe-button {
    min-width: 165px;
  }

  /* Modal */
  .modal {
    width: 408px;
  }
}

@media (min-width: 1158px) {
  .title {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .block-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .section {
    padding: 120px 0;
  }
  .container {
    padding: 0 156px;
  }

  /*header */
  .menu-toggle {
    display: none;
  }
  .header-container {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-container .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    gap: 24px;
  }

  .nav-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  address {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .contacts-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .webstudio-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #4d5ae5;
  }

  .contacts-link {
    font-weight: 400;
    font-size: 16px;
  }

  .nav-link.current::after {
    bottom: 3px;
  }
  /* Main */

  .block-title {
    margin-bottom: 8px;
  }

  /* Section 1 */

  .section.make-order {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        url("../images/people-office-desktop-1x.png") 1x,
        url("../images/people-office-desktop-2x.png") 2x
      );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    max-width: 1440px;
    padding: 188px 0;
    margin: 0 auto;
  }

  .section.make-order {
    padding: 188px 0;
  }

  .wrapped-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 48px;
  }

  /* Section 2 */
  .advantages-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    max-width: 1128px;
  }

  .advantages-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    max-width: 264px;
  }
  .advantages-item .block-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .icon-container {
    position: static;
    width: 264px;
    height: 112px;
    margin: 0 0 8px 0;
    padding: 0;
    border: none;
    overflow: visible;
    clip: auto;
    white-space: normal;
    clip-path: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }
  .icon {
    fill: #2e2f42;
    display: block;
  }

  /* Section 3 */
  .section.our-team {
    background-color: #f4f4fd;
    padding: 120px 0;
    text-align: center;
    box-sizing: border-box;
  }

  .team-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
    margin: 0;
    list-style: none;
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }

  /* Section 4 */
  .section.portfolio {
    padding: 120px 0;
  }

  .container {
    padding: 0 156px;
  }

  .portfolio-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .portfolio-item {
    flex: 0 1 calc((100% - 48px) / 3);
    box-sizing: border-box;
  }

  /* Footer */
  footer {
    padding: 100px 0;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 40px;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .subscribe-input {
    min-width: 200px;
  }

  /* Overlay */

  .modal {
    width: 408px;
    min-height: 584px;
  }
}
